# Examples of business questions and queries to answer them

## Setup and Connection
Load the `ipython-sql` library and connect to the `sparkifydb` local database with the `student` user and password.

In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

## Examples

### Fact table
#### songplays

1. What are the artist and title of the top 10 most popular song of all time on the music streaming app?

**Note:** There is only one row in the `songplays` table that has both `song_id` and `artist_id` fields that are not null so the result will only show one row.

In [3]:
%%sql
WITH most_popular_song_ids AS (
    SELECT song_id FROM songplays 
    WHERE song_id IS NOT NULL 
    GROUP BY song_id 
    ORDER BY count(song_id) DESC LIMIT 10
)


SELECT title AS "Song title", name AS "Artist name"
FROM most_popular_song_ids
JOIN songs USING(song_id)
JOIN artists USING(artist_id);

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('Setanta matins', 'Elena')]

### Dimension tables

#### songs
1. In what year was there the most songs relased and how many?

In [4]:
%%sql
SELECT year AS "Year", count(year) AS "Number of songs"
FROM songs
GROUP BY year
ORDER BY count(year) DESC
LIMIT 1;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(2004, 4)]

#### artists
2. How many songs each artist has released on the music streaming app? Oder by the number of songs in descending oder.

In [5]:
%%sql
SELECT name AS "Artist name", count AS "Number of songs"
FROM (SELECT artist_id, count(artist_id)
FROM songs
GROUP BY artist_id) AS artists_songs_count
JOIN artists USING(artist_id)
ORDER BY count DESC;

 * postgresql://student:***@127.0.0.1/sparkifydb
69 rows affected.

[('Casual', 2),
 ('Clp', 2),
 ('Gob', 1),
 ('Tweeterfriendly Music', 1),
 ('JennyAnyKind', 1),
 ('The Box Tops', 1),
 ('Sonora Santanera', 1),
 ('Jeff And Sheri Easter', 1),
 ('Rated R', 1),
 ('Faye Adams', 1),
 ('Terry Callier', 1),
 ('Billie Jo Spears', 1),
 ('SUE THOMPSON', 1),
 ("Mike Jones (Featuring CJ_ Mello & Lil' Bran)", 1),
 ('The Dillinger Escape Plan', 1),
 ('The Shangri-Las', 1),
 ('Five Bolt Main', 1),
 ('Tim Wilson', 1),
 ('Sierra Maestra', 1),
 ('Elena', 1),
 ('John Wesley', 1),
 ('Willie Bobo', 1),
 ('Andy Andy', 1),
 ('lextrical', 1),
 ('Jimmy Wakely', 1),
 ('Richard Souther', 1),
 ('Bob Azzam', 1),
 ('Wayne Watson', 1),
 ('Alice Stuart', 1),
 ('Lionel Richie', 1),
 ('Blue Rodeo', 1),
 ('Faiz Ali Faiz', 1),
 ('Tesla', 1),
 ('David Martin', 1),
 ('Kenny G featuring Daryl Hall', 1),
 ('John Davis', 1),
 ('Backstreet Boys', 1),
 ('Eddie Calvert', 1),
 ('Tiny Tim', 1),
 ('Trafik', 1),
 ('Christos Dantis', 1),
 ('Nick Ingman;Gavyn Wright', 1),
 ('Glad', 1),
 ('King Curtis', 1),
 ('Luna Orbit Project', 1),
 ('Lupe Fiasco', 1),
 ('Line Renaud', 1),
 ('Danilo Perez', 1),
 ('Gwen Stefani', 1),
 ('Marc Shaiman', 1),
 ('Steve Morse', 1),
 ('Wilks', 1),
 ('Bitter End', 1),
 ('Sophie B. Hawkins', 1),
 ('40 Grit', 1),
 ('Bombay Rockers', 1),
 ('Los Manolos', 1),
 ('Montserrat Caballé;Placido Domingo;Vicente Sardinero;Judith Blegen;Sherrill Milnes;Georg Solti', 1),
 ('Steel Rain', 1),
 ('Soul Mekanik', 1),
 ('Mitch Ryder', 1),
 ('Blingtones', 1),
 ('Pucho & His Latin Soul Brothers', 1),
 ('Chase & Status', 1),
 ('Tom Petty', 1),
 ('Jinx', 1),
 ('Adam Ant', 1),
 ('Gloriana', 1),
 ('Planet P Project', 1)]

3. What proportion of users have a paid membership level?

In [6]:
%%sql
SELECT ROUND((count(level)*100.0 / (SELECT count(*) FROM users)),2) AS "Percentage of paid users"
FROM users
WHERE level = 'paid';

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(Decimal('18.75'),)]